*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f46e53;
}
.calculator{
    width: 400px;
    height: 500px;
    background-color: #082032;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% );
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px 0px;
}
h1{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    color: #fff;
    margin: 10px;
    font-size: 17PX;
    font-weight: 500;
}
input{
    width: 250px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 120px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: #082032;
    background-color: #f46e53;
    font-weight: 700;
    margin-top: 10PX;
}
p{
    color: #fff;
    margin-top: 20px;
    font-size: 17PX;
}